/*http://www.w3schools.com/lib/w3-colors-highway.css*/
.w3-highway-brown{color:#fff;background-color:#633517!important}
.w3-highway-red{color:#fff;background-color:#a6001a!important}
.w3-highway-orange{color:#fff;background-color:#e06000!important}
.w3-highway-schoolbus{color:#fff;background-color:#ee9600!important}
.w3-highway-yellow{color:#fff;background-color:#ffab00!important}
.w3-highway-green{color:#fff;background-color:#004d33!important}
.w3-highway-blue{color:#fff;background-color:#00477e!important}
