/*http://www.w3schools.com/lib/w3-colors-ana.css*/
.w3-ana-azure-blue{color:#fff;background-color:#7284b7!important}
.w3-ana-blue{color:#fff;background-color:#09568d!important}
.w3-ana-insignia-blue{color:#fff;background-color:#172035!important}
.w3-ana-willow-green{color:#fff;background-color:#457725!important}
.w3-ana-olive-drab{color:#fff;background-color:#686b69!important}
.w3-ana-lemon-yellow{color:#fff;background-color:#ffbb00!important}
.w3-ana-orange-yellow{color:#fff;background-color:#f8a300!important}
.w3-ana-internation-yellow{color:#fff;background-color:#ffaa07!important}
.w3-ana-aircraft-cream{color:#000;background-color:#f0c282!important}
.w3-ana-international-orange{color:#fff;background-color:#ce3500!important}
.w3-ana-insignia-red{color:#fff;background-color:#901e1d!important}
.w3-ana-maroon{color:#fff;background-color:#421814!important}
.w3-ana-insignia-white{color:#000;background-color:#f0e9ee!important}
.w3-ana-aircraft-grey{color:#000;background-color:#a2a7ad!important}
.w3-ana-engine-gray{color:#fff;background-color:#47484a!important}
.w3-ana-instrument-black{color:#fff;background-color:#1c1d22!important}
.w3-ana-black{color:#fff;background-color:#0b0b0d!important}
.w3-ana-strata-blue{color:#fff;background-color:#122b3e!important}
.w3-ana-field-drab{color:#fff;background-color:#705a43!important}
.w3-ana-desert-sand{color:#fff;background-color:#b19083!important}
.w3-ana-sierra-tan{color:#fff;background-color:#987563!important}
.w3-ana-gunship-green{color:#fff;background-color:#46554f!important}
.w3-ana-teal-blue{color:#fff;background-color:#002d30!important}
.w3-ana-field-green{color:#fff;background-color:#575c45!important}
.w3-ana-aircraft-black{color:#fff;background-color:#383839!important}
.w3-ana-aircraft-red{color:#fff;background-color:#a0333a!important}
.w3-ana-tan{color:#fff;background-color:#a98652!important}
.w3-ana-aircraft-insignia-blue{color:#fff;background-color:#343236!important}
.w3-ana-navy-blue{color:#fff;background-color:#646e83!important}
.w3-ana-dull-red{color:#fff;background-color:#874840!important}
.w3-ana-sea-plane-grey{color:#fff;background-color:#4b4c50!important}