/* Tooltip container */
.infobar {
    /*position: relative;*/
    /*display: inline-block;*/
    /*border-bottom: 1px dotted black;  If you want dots under the hoverable text */
}
/* Tooltip text */
.infobar-text {
    /*visibility: hidden;*/
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px; 
    /* Position the infobar text - see examples below! */
    position: absolute;
    z-index: 1;
}
/* Show the infobar text when you mouse over the infobar container 
.infobar:hover .infobartext {
    visibility: visible;
}*/
.infobar-left .infobartext {
    top: -5px;
    right: 105%;
}
.infobar-right .infobartext {
    top: -5px;
    left: 105%; 
}
.infobar-top .infobartext {
    width: 120px;
    bottom: 100%;
    left: 50%; 
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the infobar */
}
.infobar-bottom .infobartext {
    width: 120px;
    top: 100%;
    left: 50%; 
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the infobar */
}
/* Arrows*/
.infobar-top .infobartext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the infobar */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}
.infobar-bottom .infobartext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the infobar */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
.infobar-right .inforbartext::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%; /* To the right of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}
.inforbar-left .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}