.w3-margin-left-8{margin-left:8px !important}.w3-margin-right-8{margin-right:8px !important}
.w3-margin-left-16{margin-left:16px !important}.w3-margin-right-16{margin-right:16px !important}
.w3-margin-left-24{margin-left:24px !important}.w3-margin-right-24{margin-right:24px !important}
.w3-margin-left-32{margin-left:32px !important}.w3-margin-right-32{margin-right:32px !important}
.w3-margin-left-64{margin-left:64px !important}.w3-margin-right-64{margin-right:64px !important}
.w3-margin-left-128{margin-left:128px !important}.w3-margin-right-128{margin-right:128px !important}
.w3-padding-top-4{padding-top:4px !important}
.w3-padding-top-16{padding-top:16px !important}
.w3-padding-left-0{padding-left:0px !important}
.w3-padding-right-0{padding-right:0px !important}
.w3-navbar li a{display:block;padding:8px 16px !important}
.w3-form{padding:0px 0px !important}
.w3-opaque-0{opacity: 0.0 !important}
.w3-opaque-1{opacity: 0.1 !important}
.w3-opaque-2{opacity: 0.2 !important}
.w3-opaque-3{opacity: 0.3 !important}
.w3-opaque-4{opacity: 0.4 !important}
.w3-opaque-5{opacity: 0.5 !important}
.w3-opaque-6{opacity: 0.6 !important}
.w3-opaque-7{opacity: 0.7 !important}
.w3-opaque-8{opacity: 0.8 !important}
.w3-opaque-9{opacity: 0.9 !important}
.w3-btn-floating-small{width:28px;height:28px;line-height:28px}
.w3-focus-border-amber:focus{
    color:#000!important;
    border-style:solid;
    border-color:#ffc107!important;
}
.w3-float-left{float:left}
.w3-float-right{float:right}